* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 20px;
  display: flex;

  margin-top: 5%;

  justify-content: center;
  flex-wrap: wrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

